:root {
  --header-height: 60px;
  --nav-width: 280px;
}
a {
  color: blue;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
}
body {
  font-family: "Helvetica", sans-serif;
  font-size: 14pt;
  font-weight: 200;
  margin: 0;
}
header {
  background-color: rgb(50,50,50);
  color: white;
  font-size: calc(0.6 * var(--header-height));
  height: var(--header-height);
  left: 0;
  line-height: var(--header-height);
  padding: 0 0.5em;
  position: fixed;
  right: 0;
  top: 0;
  vertical-align: middle;
}
h1 {
  margin-top: 0;
}
h2 {
  font-weight: normal;
}
img {
  height: 15em;
  vertical-align: bottom;
}
iframe {
  border: none;
  height: 12em;
  width: 100%;
}
main {
  bottom: 0;
  box-sizing: border-box;
  left: var(--nav-width);
  overflow: auto;
  padding: 2em;
  position: fixed;
  right: 0;
  text-align: center;
  top: var(--header-height);
}
nav {
  background-color: rgb(240, 240, 240);
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  overflow-y: auto;
  padding: 1em;
  position: fixed;
  top: var(--header-height);
  width: var(--nav-width);
}
nav a {
  display: block;
  margin-right: -1em;
  padding: 0.5em;
}
nav a.selected {
  background-color: white;
}
p {
  line-height: 1.5;
  text-align: justify;
}
.hidden {
  display: none;
}
.page {
  margin: 0 auto;
  max-width: 40em;
  text-align: left;
}
#list p {
  padding-left: 2em;
  text-indent: -2em;
}